apiVersion: 1

providers:
  - name: custom
    type: file
    disableDeletion: false
    updateIntervalSeconds: 30
    allowUiUpdates: true
    options:
      path: {{ grafana_dashboards_dir }}
      foldersFromFilesStructure: false
